body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 10%;
    height: 100%;
    background-color:#333;
    overflow: auto;
    float: left;
}
li a , .dropdown3{
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    display: block;
    text-align: left;
}
li a.active{
    background-color:  red;
    color: white;
}
li a:hover:not(.active) , .dropdown3:hover .ddb3{
    background-color: #111111;
    color: white;
}
li.dropdown3{
    display: inline-block;
}
.dd3-content {
    background-color: #f9f9f9;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2) ;
    z-index: 1;

}
.dd3-content a{
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 12px 16px;
    color: #333;
}
.dd3-content a:hover{
    background-color: rgb(179, 168, 127);
}
.dropdown3:hover .dd3-content{
    display: block;
}
.header{
    width: 100%;
    background-color: #111111;
    text-align: center;
    padding: 5px;
    color: white;
    border-bottom: 1px solid rgb(83, 82, 82);
}
.animation{
    background-color: rgb(167, 54, 54);
    width: 100px;
    height: 50px;
    position: relative;
    margin: 20px;
    animation-name: test2;
    animation-duration: 3s;
    animation-delay: -0.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}
.animation p{
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: fantasy;
    font-size: 30px;
}
@keyframes test2{
    0%{background-color: rgb(167, 54, 54); left: 0px; top: 0px;}
    25%{background-color: yellow; left: 400px; top: 0px;}
    50%{background-color: blue; left: 800px; top: 0px;}
    75%{background-color: green; left: 1000px; top: 0px;}
    100%{background-color: orchid; left: 1200px; top: 0px;}
}
.clearfix ::after{
    content: "";
    clear: both;
    display: table;
}
div.gallery{
    margin: 8px 2px;
    border: 1px solid #CCC;
    float: left;
    width: 33%;
}
div.gallery:hover{
    border: 1px solid #777777;
}
div.gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.caption{
    padding: 8px 16px;
    text-align: center;
}
.row ::after{
    content: "";
    clear: both;
    display: table;
}
.column{
    float: left;
    padding: 10px;
    width: 33%;
    height: auto;
}
.dropdown1{
    padding: 5px 0px;
    position: relative;
    display: inline-block;
}
.ddb1{
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
}
.dd1-content{
    position: absulote;
    display: none;
    background-color:  #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dd1-content a{
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    color: black;
}
.dd1-content a:hover{
    background-color:  #f1f1f1;
}
.dropdown1:hover .dd1-content{
    display: block;
}
.dropdown1:hover .ddb1{
    background-color: red;
}
.dropdown2{
    position: relative;
    display: inline-block;
}
.dd2-content{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown2:hover .dd2-content{
    display: block;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #777777;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus{
    border: 2px solid #333333;
    border-radius: 10px;
}
select{
    width: 100%;
    border: 2px solid #777777;
    border-radius: 10px;
    padding: 12px 20px;
    outline: none;
}
select:focus{
    border: 2px solid #333333;
    border-radius: 10px;
}
/* @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  } */
.sh{
    text-shadow: 2px 2px 5px royalblue;
}
.sha{
    text-shadow: 0px 0px 3px darkslateblue;
}
.flexbox{
    display: flex;
}
.flexbox > div{
    margin: 10px;
    padding: 20px 40px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.boxsh{
    background-color: gold;
    padding: 10px 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 10px 10px 5px #333333;
}
/* @keyframes test1{
    from{background-color: aqua;}
    to{background-color: coral;}
} */
@keyframes test1{
    0%{background-color: aqua;}
    25%{background-color: coral;}
    50%{background-color: crimson;}
    75%{background-color: forestgreen;}
    100%{background-color: orangered;}
}
.transition1{
    background-color: rgb(98, 219, 219);
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s ,transform 2s;
    transition-timing-function: ease-out;
    animation-name: test1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    align-self: center;
}
.transition1:hover{
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
}
.footer{
    background-color: #111111;
    padding: 10px;
    margin: 60px 0px 0px 0px;
    text-align: left;
    color: white;
}