body{
    /* background-color: cornflowerblue; */
    background-image: url("../imag.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment:fixed;
}
p.pp{
    background-color: darkgoldenrod;
    color: indigo;
}
p.solid{
    border-style: solid;
    border-width: thick;
    border-color: black;
    outline-style: solid;
    outline-color: lightsalmon;
    outline-width: thick;
}
p.dotted{
    border-style: dotted;
    border-width: thick;
    border-color: magenta green orangered orchid;
    outline: 5px solid blue;
    outline-offset: 10px;
    margin: 30px;
}
p.inset{
    border-style: inset;
    border-width: 20px 5px;
}
p.outset{
    border-style: outset;
    border-width: 5px 20px;
}
p.double{
    border-style: double;
    border-radius: 8px;
}
div.margin{
    margin: 100px 20px 30px 20px;
}
p.bb{
    border-left: 10px solid magenta;
    background-color: mediumpurple;
    border-width: 10px;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
}
div.size{
    width: 50%; 
    height: 200px;
    background-color: lightcoral;
 }
 p.decoration{
     text-decoration: underline;
 }
 p.transform{
     text-transform: uppercase;
 }
img.top{
    vertical-align: top;
}
img.bottom{
    vertical-align: bottom;
}
img.middle{
    vertical-align: middle;
}
p.ih{
    white-space: nowrap;
    line-height: 1.5px;
    text-indent: 40px;
}
p.ws{
    word-spacing: 20px;
}
p.ls{
    letter-spacing: 10px;
}
p.shadow{
    text-shadow: 3px 4px 6px lightseagreen;
}
p.ff{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    
}
p.v{
    font-variant: small-caps;
}
div.default{
    background-color: maroon;
}
div.first{
    background-color: maroon;
    opacity: 0.1;
}
div.second{
    background-color: maroon;
    opacity: 0.3;
}
div.third{
    background-color: maroon;
    opacity: 0.6;
}
i{
    font-size: 50px;
}
/* a:link{
    text-decoration: none;
  color: darkolivegreen;  
}
a:visited{
    text-decoration: none;
    color: darkorange;
}
a:hover{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px limegreen;
}
a:active{
    text-decoration: none;
    color: chocolate;
} */
a:link, a:visited{
    background-color:  #f44336;
    
    text-align: center;
    text-decoration: none;
    padding: 10px 5px;
    color: white;
    display: inline-block;
}
a:hover,a:active{
    background-color: red;
}
ol{
    list-style-type: lower-roman;
}
ul{
    list-style-type: disc;
    list-style-position: inside;
}
/* table,th,td{
    border: 1px solid black;
} */
table{
    border-collapse: collapse;
    width: 50%;
}
th{
    background-color: rgb(98, 92, 141);
    color: white;
    height: 50px;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid lightgrey;
}
td{
    height: 40px;
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
tr:hover{
    background-color:  rgb(74, 79, 83);
}
tr:nth-child(even){
    background-color:lightgrey;
}
div.static{
    border: 2px solid black;
    position: static;
}
div.fixed{
    border: 2px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: lightcoral;
}
div.relative{
    position: relative;
    border: 2px dotted black;
    left: 20px;
}
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: lightslategray;
    border: 2px solid rgb(65, 63, 63);
    color: white;
}
div.absolute{
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid lightblue;
}
div.parent{
    position: relative;
    border: 2px solid blue;
    width: 500px;
    height: 300px;
}
img.overlap{
    width: 60px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
div.overflow{
    background-color: lightgray;
    width: 180px;
    height: 100px;
    overflow: scroll;
}
img.float{
    width: 100px;
    height: 200px;
    float: right;
}
p.clearfix{
    overflow: auto;
}
